<h2 class="page-header">Edit Genre</h2>
<form action="/genres/<%= genre.id%>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <a href="/genres/<% genre.id%>">Cancel</a>
  <button type="submit">Update</button>
</form>
