<header>
  <nav class="header-nav">
    <a class="header-title" href="/">CineRaly</a>
    <ul>
      <li><a href="/movies">Movies</a></li>
      <li><a href="/movies/new">Add Movie</a></li>
      <li><a href="/genres">Genres</a></li>
      <li><a href="/genres/new">Add Genre</a></li>
    </ul>
  </nav>
</header>
